@import './components/categories/categories.css';
@import './components/filter/filter.css';
@import './components/search/search.css';
@import './components/submit/submit.css';
@import './components/joke/joke.css';
@import './components/jokeFavourite/jokeFavourite.css';

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Black.ttf);
  font-weight: 900;
}

body {
  margin: 0;
  padding: 0;
}

#layout {
  display: flex;
  width: 100%;
}

#layout .layout__left {
  width: 66%;
  margin-bottom: 50vh;
}

#layout__favourites-wr {
  width: 34%;
  background: #f8f8f8;
}

#layout__favourites-wr h2 {
  width: 83%;
  margin: 40px auto 20px auto;
  font-family: Roboto;
  font-weight: 500;
  color: #ababab;
}

#layout__favourites {
  width: 100%;
}

#layout__filter {
  width: 70%;
  margin: 0 auto;
}

#layout__jokes {
  width: 70%;
  margin: 30px auto 0 auto;
}

.header {
  margin: 40px auto;
  width: 70%;
  font-family: Roboto;
}

.header span {
  font-weight: bold;
  font-size: 500;
  font-size: 20px;
}

.header h2 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 80px;
  margin-bottom: 10px;
}

.header h3 {
  font-weight: 500;
  font-size: 24px;
  margin: 15px 0;
}

@media screen and (min-width: 838px) {
  .open {
    display: none;
  }
}

@media screen and (max-width: 837px) {
  #layout .layout__left {
    width: 100%;
  }

  #layout__favourites-wr {
    width: 57%;
    position: fixed;
    overflow: scroll;
    top: 0;
    right: -900px;
    height: calc(100vh - calc(100vh - 100%));
    transition: all 500ms;
  }

  #layout__favourites-wr.display-block {
    right: 0;
  }

  #layout__favourites {
    height: calc(100vh - calc(100vh - 100%));
    margin-bottom: 100vh;
  }
  #layout__favourites .joke {
    width: 90%;
  }

  .open {
    background: url('../src/assets/img/open.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 40px;
    right: 134px;
    display: block;
    width: 28px;
    height: 28px;
  }

  .open span {
    margin-left: 40px;
    line-height: 28px;
    color: #ababab;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
  }

  h2.cl {
    text-align: right;
  }

  .close {
    background: url('../src/assets/img/close.png');
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    line-height: 30px;
    display: inline-block;
    font-size: 20px;
    padding-left: 5px;
    width: 120px;
  }

  .background-transparent {
    left: -800px;
    background-color: black;
    height: 100px;
    width: 100px;
    position: fixed;
    width: 43%;
    height: 100%;
    opacity: 0.5;
    transition: all 500ms;
  }
  .background-transparent.display {
    left: 0;
  }
}

@media screen and (max-width: 600px) {
  #layout__favourites-wr {
    width: 100%;
  }

  .background-transparent {
    display: none;
  }

  .joke__category {
    display: none;
  }

  #layout__jokes {
    width: 90%;
  }
}
